body {
  font-family: 'Open Sans', sans-serif;
}

body h1, body h2, body h3, body h4, body h5 {
  font-family: "Myriad Pro", Arial, serif;
}

body ul {
  padding: 0;
  list-style: none;
}

body .grid {
  display: grid;
}

/* HEADER START */
.main-header {
  padding: 30px 0;
  border-bottom: 1px solid #e1e1e1;
  grid-template: 1fr / 2fr 10fr;
}

.main-header .main-header__logo {
  margin-left: -15px;
}

.main-header .main-header__contacts {
  margin-right: -15px;
}

.main-header .main-header__contacts ul {
  display: flex;
  justify-content: flex-end;
}

.main-header .main-header__contacts ul li {
  padding-left: 50px;
  max-width: 410px;
}

.main-header .main-header__contacts ul li i {
  float: left;
  background-color: #1a9bdc;
  color: white;
  font-size: 1.5em;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.main-header .main-header__contacts ul li i:before {
  position: absolute;
  top: 12px;
  left: 12px;
}

.main-header .main-header__contacts_padding:before {
  padding-left: 5px;
}

.main-header .main-header__contacts ul li span {
  display: inline-block;
}

.main-header .main-header__contacts_uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  font-size: 1.3em;
}

.bottom-header .bottom-header__menu {
  margin-left: -15px;
}

.bottom-header .bottom-header__menu ul {
  float: left;
  font-weight: bold;
  color: #6c6c6c;
  display: flex;
  margin-bottom: 0;
}

.bottom-header .bottom-header__menu ul li {
  padding-right: 30px;
}

.bottom-header .bottom-header__menu ul li a {
  color: #555;
  cursor: pointer;
}

.bottom-header .bottom-header__menu ul li:hover {
  color: #222;
  transition: 500ms;
  text-decoration: underline;
}

.bottom-header .bottom-header__menu ul li:active {
  color: #222;
}

.bottom-header .bottom-header__socials {
  margin-right: -15px;
}

.bottom-header .bottom-header__socials ul {
  float: right;
  display: flex;
  margin-bottom: 0;
}

.bottom-header .bottom-header__socials ul li {
  padding-left: 25px;
}

.bottom-header .bottom-header__socials ul li a {
  color: #222;
}

.bottom-header .bottom-header__socials ul li:hover {
  color: #555;
  transition: 300ms;
}

/* HEADER END */
/* SLIDE-SHOW START */
.slide-show img {
  position: absolute;
  left: 0;
  z-index: -2;
}

.slide-show .slide-show__content {
  z-index: -1;
  max-width: 600px;
  height: 640px;
  text-align: center;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

.slide-show .slide-show__content h1 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #555;
  padding-bottom: 20px;
}

.slide-show .slide-show__content p {
  font-size: 1.2em;
  color: #555;
}

.slide-show .slide-show__content_button {
  border-radius: 30px;
  background-color: #1a9bdc;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 40px 8px;
}

.slide-show .slide-show__content_button:hover {
  background-color: #1b7eb0;
  transition: 300ms;
}

/* SLIDE-SHOW END */
/* ICON-BOX START*/
.section-icon-box {
  grid-template: 1fr/repeat(4, 1fr);
  position: absolute;
  left: 0;
}

.section-icon-box .section-icon-box__box {
  text-align: center;
  color: white;
  padding: 40px;
}

.section-icon-box .section-icon-box__box:nth-child(1) {
  background-color: #43b1d2;
}

.section-icon-box .section-icon-box__box:nth-child(2) {
  background-color: #3fb6c6;
}

.section-icon-box .section-icon-box__box:nth-child(3) {
  background-color: #3cbbbb;
}

.section-icon-box .section-icon-box__box:nth-child(4) {
  background-color: #37c3a8;
}

.section-icon-box .section-icon-box__box i {
  font-size: 2em;
  background-color: white;
  position: relative;
  width: 70px;
  height: 70px;
  color: #222;
  border-radius: 50%;
}

.section-icon-box .section-icon-box__box i:before {
  position: absolute;
  top: 18px;
  left: 18px;
}

.clear {
  height: 310px;
}

/* ICON-BOX END*/
/*CHOSE-US START*/
.chose-us {
  margin-top: 60px;
  grid-template: 3fr/repeat(3, 1fr);
  align-items: end;
}

.chose-us .chose-us__title {
  grid-area: 1/1/1/4;
  max-width: 600px;
  text-align: center;
  justify-self: center;
}

.chose-us .chose-us__icons_element {
  margin-bottom: 80px;
}

.chose-us .chose-us__icons_element i {
  background-color: #1a9bdc;
  color: white;
  width: 70px;
  height: 70px;
  padding: 20px 0 0 20px;
  margin: 0 20px 20px 0;
  font-size: 2em;
  float: left;
}

.chose-us .extend, .chose-us h2, .chose-us h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #494949;
}

.chose-us h3 {
  font-size: 2em;
  margin-top: 10px;
  line-height: 60px;
}

.chose-us .chose-us__icons_element p {
  clear: both;
}

/*CHOSE-US END*/
/* ICON-BOX2 START*/
.icon-box2 {
  background-image: url("../img/background.png");
  min-height: 580px;
  width: 100%;
  position: absolute;
  left: 0;
  display: grid;
  grid-template: 1fr/repeat(4, 300px);
  align-items: center;
  justify-content: center;
  color: white;
}

.icon-box2 .icon-box2__element {
  text-align: center;
  justify-self: center;
  font-weight: bold;
}

.icon-box2 .icon-box2__element i {
  margin-bottom: 20px;
}

.icon-box2 .icon-box2__element i, .icon-box2 .icon-box2__element span {
  font-size: 60px;
  display: block;
}

.icon-box2 .icon-box2__element h3 {
  font-size: 25px;
}

.icon-box2 .icon-box2__element .icon-box2__element_border {
  height: 6px;
  width: 80px;
  background-color: white;
  text-align: center;
  margin: 10px auto 20px;
}

/* ICON-BOX2 END*/
/* HOW-WORKS START */
.how-works {
  margin: 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-areas: "title-left  title-left  title-right" "posts posts tabs" "button button .";
}

.how-works h2 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #494949;
}

.how-works p {
  color: #6c6c6c;
  font-size: 1em;
  line-height: 1.8em;
}

.how-works .how-works__title-left {
  grid-area: title-left;
}

.how-works .how-works__title-right {
  grid-area: title-right;
}

.how-works .how-works__posts {
  grid-area: posts;
}

.how-works .how-works__posts .how-works__posts_item {
  max-width: 334px;
  display: inline-block;
}

.how-works .how-works__posts .how-works__posts_item:first-child {
  margin-right: 20px;
}

.how-works .how-works__posts .how-works__posts_item img {
  object-fit: cover;
  width: 335px;
  height: 210px;
  margin-bottom: 30px;
}

.how-works .how-works__posts .how-works__posts_item h4 {
  font-size: 1.4em;
  color: #6c6c6c;
  line-height: 0.8em;
}

.how-works .how-works__posts .how-works__posts_item span {
  color: #1a9bdc;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 0.9em;
  white-space: pre-wrap;
}

.how-works .how-works__tabs {
  grid-area: tabs;
}

@keyframes open {
  0% {
    opacity: 0;
    margin-left: -5px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.how-works .how-works__tabs details {
  background-color: white;
  padding: 0 0 20px 0;
  color: #555;
  border-radius: 30px;
}

.how-works .how-works__tabs details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

.how-works .how-works__tabs details summary {
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 50px;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  vertical-align: center;
  display: flex;
  line-height: 2.0em;
}

.how-works .how-works__tabs details summary:focus {
  outline: none;
  background-color: #1a9bdc;
  color: white;
  transition: 300ms;
}

.how-works .how-works__tabs details summary::-webkit-details-marker {
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  color: #1b7eb0;
  float: left;
}

.how-works .how-works__tabs details p {
  padding: 10px;
}

.how-works .how-works__button {
  grid-area: button;
  justify-self: center;
}

.how-works .how-works__button button {
  background-color: #0087be;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 1px 1px 20px #6d9ebe;
  border: none;
}

.how-works .how-works__button button:focus {
  outline: none;
}

.how-works .how-works__button button:hover {
  background-color: #1b7eb0;
  transition: 300ms;
  transform: translate(0, -4px);
}

.how-works .how-works__button button:active {
  box-shadow: 1px 1px 10px #6d9ebe;
  transition: 300ms;
  transform: translate(0, -2px);
}

/* HOW-WORKS END */
/* GALLERY START*/
.gallery {
  display: grid;
  background-image: url("../img/backgorund-2.jpg");
  background-repeat: repeat-x;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  padding: 80px 0;
  grid-gap: 30px;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}

.gallery h2 {
  grid-area: 1/1/1/4;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.gallery p {
  grid-area: 2/1/2/4;
  line-height: 2em;
}

.gallery img:nth-child(-n+3) {
  margin-bottom: 10px;
}

/* GALLERY END*/
/* OUR-TEAM START*/
.our-team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 30px;
  padding: 60px 0;
}

.our-team h2 {
  grid-area: 1/1/2/6;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #555;
  line-height: 2em;
}

.our-team p {
  grid-area: 2/1/3/6;
  color: #6c6c6c;
  line-height: 2em;
}

.our-team img {
  max-width: 260px;
  padding-bottom: 20px;
}

.our-team .our-team__member h4 {
  font-size: 1.4em;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #6c6c6c;
}

.our-team .our-team__member span {
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  color: #6c6c6c;
  display: inline-block;
  padding-bottom: 30px;
}

.our-team .our-team__member i {
  color: #0087be;
  font-size: 1.4em;
  padding-right: 10px;
}

/* OUR-TEAM END*/
