@import "normilize";
@import "variables";

.button_blue {
    background-color: $main-dark ;
    color: $white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #6d9ebe;
    border:none;
    transition-duration: $transition;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: $main-light;
        //-moz-transform: translate(0, -2px);
        //-ms-transform: translate(0, -2px);
        //-o-transform: translate(0, -2px);
        //-webkit-transform: translate(0, -2px);
        transform: translate(0, -4px)
    }
    &:active{
        box-shadow: 1px 1px 10px #6d9ebe;
        transition: $transition;
        transform: translate(0, -2px)

    }
}

body{
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3, h4, h5{
        font-family: "Myriad Pro", Arial, serif;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    .grid{
        display: grid;
    }
}

/* HEADER START */
.main-header{
    padding: 30px 0;
    border-bottom: 1px solid $border;
    grid-template: 1fr / 2fr 10fr;
    .main-header__logo{
        margin-left: -15px;
    }
    .main-header__contacts{
        margin-right: -15px;
        ul {
            display: flex;
            justify-content: flex-end;
            li{
                padding-left: 50px;
                max-width: 410px;
                i{
                    &:before{
                        position: absolute;
                        top: 12px;
                        left: 12px;
                    }
                    float: left;
                    background-color: $main;
                    color: $white;
                    font-size: 1.5em;
                    position: relative;
                    width: 50px;
                    height: 50px;
                    margin-right: 15px;
                    transition-duration: $transition;
                    &:hover{
                        transform: rotate(360deg) scale(1.1, 1.1);
                    }
                }
            }

        }
    }
    .main-header__contacts_padding:before{
        padding-left: 5px;
    }
    .main-header__contacts ul li span{
        display: inline-block
    }
    .main-header__contacts_uppercase{
        text-transform: uppercase;
        font-weight: 700;
    }
}
@media all and (max-width:$breakpoint-tablet) {
    .main-header{
        grid-template-columns: 1fr;
        grid-gap: 40px;
        justify-items: center;
    }
    .main-header__contacts{
        ul{
            flex-direction: column;
            li{
                margin-bottom: 20px;
            }
        }
    }
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 1.3em;
    .bottom-header__menu{
        margin-left: -15px;
        ul{
            float: left;
            font-weight: bold;
            color: $text_light;
            display: flex;
            margin-bottom: 0;
            li{
                padding-right: 30px;
                a{
                    color: $text;
                    cursor: pointer;
                }
                &:hover{
                    color: $text-dark;
                    transition: 500ms;
                    text-decoration: underline;
                }
                &:active{
                    color: $text-dark;
                }
            }
        }
    }
    .bottom-header__socials{
        margin-right: -15px;
        position: absolute;
        right: 0;
        ul{
            float: right;
            display: flex;
            margin-bottom: 0;
            li{
                margin-left: 25px;
                transition-duration: $transition;
                a{
                    color: $text-dark;
                }
                &:hover{
                    color: $text;
                    transform: scale(1.2,1.2);

                }
                &:nth-child(1){
                    margin-left: 0;
                }
            }
        }
    }
}
@media all and(max-width: $breakpoint-tablet){
    .bottom-header__socials{
        width: 40%;
    }
}
/* HEADER END */

/* SLIDE-SHOW START */
.slide-show{
    img{
        position: absolute;
        left: 0;
        z-index: -2;
        width: 100%;
        object-fit: cover;
        height: max-content;
    }
    .slide-show__content{
        z-index: -1;
        max-width:600px;
        height: 640px;
        text-align: center;
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3em;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: $text;
            padding-bottom: 20px;
        }
        p {
            font-size: 1.2em;
            color: $text;
        }

    }
    .slide-show__content_button{
       @extend .button_blue;
        padding: 15px 40px;
    }
}
/* SLIDE-SHOW END */

/* ICON-BOX START*/
.section-icon-box{
   grid-template: 1fr / repeat(4,1fr);
    position: absolute;
    left: 0;
    .section-icon-box__box{
        text-align: center;
        color: $white;
        padding: 40px;
        &:nth-child(1){
            background-color: #43b1d2;
        }
        &:nth-child(2){
            background-color: #3fb6c6;
        }
        &:nth-child(3){
            background-color: #3cbbbb;
        }
        &:nth-child(4){
            background-color: #37c3a8;
        }
        i{
            font-size:2em;
            background-color: $white;
            position: relative;
            width: 70px;
            height: 70px;
            color: $text-dark;
            border-radius: 50%;
            &:before{
                position: absolute;
                top: 18px;
                left: 18px;
            }
        }
    }
}
@media all and(max-width: $breakpoint-tablet){
    .section-icon-box{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and(max-width: $breakpoint-mobile){
    .section-icon-box{
        grid-template-columns: 1fr;
    }
}
.clear{
    height: 310px;
}
/* ICON-BOX END*/

/*CHOSE-US START*/
.chose-us{
    margin-top: 60px;
    grid-template: 3fr / repeat(3,1fr);
    align-items: end;
    .chose-us__title{
        grid-area: 1/1/1/4;
        max-width: 600px;
        text-align: center;
        justify-self: center;
    }
    .chose-us__icons_element{
        margin-bottom: 80px;
        i{
            background-color: #1a9bdc;
            color: $white;
            width: 70px;
            height: 70px;
            padding: 20px 0 0 20px;
            margin: 0 20px 20px 0;
            font-size: 2em;
            float: left;
        }
    }
    .extend{
        font-family: 'Montserrat', sans-serif;
        font-size: 3em;
        font-weight: bold;
        color: $text_light2;
    }
    h2{
        @extend .extend;
    }
    h3{
        @extend .extend;
        font-size: 2em;
        margin-top: 10px;
        line-height: 60px;
    }
    .chose-us__icons_element p{
        clear: both;
    }

}
@media all and (max-width: $breakpoint-tablet){
    .chose-us{
        grid-template-columns: minmax(300px, 1fr);
        align-items: start;
        .chose-us__img{
            grid-area: 3/1/3/4;
            justify-self: center;
        }
        .chose-us__icons_element{
            i{
                float: none;
            }
        }
    }
}
@media all and (max-width: $breakpoint-mobile){
    .chose-us{
        grid-template-columns: 1fr;
        align-items: start;
        .chose-us__title{
            grid-area: 1/1/2/2;
        }
        .chose-us__img{
            grid-area: 7/1/8/2;
            justify-self: center;
        }
        .chose-us__icons_element{
            i{
                float: none;
            }
        }
    }
}
/*CHOSE-US END*/

/* ICON-BOX2 START*/
.icon-box2{
    background-image:url("../img/background.png");
    min-height: 580px;
    width: 100%;
    position: absolute;
    left: 0;
    display: grid;
    grid-template: 1fr / repeat(4,300px);
    align-items: center;
    justify-content: center;
    color: $white;
    .icon-box2__element{
        text-align: center;
        justify-self: center;
        font-weight: bold;
        i{
            margin-bottom: 20px;
        }
        i,span{
            font-size: 3.4em;
            display: block;
        }
        h3{
            font-size: 25px;
        }
        .icon-box2__element_border{
            height: 6px;
            width: 80px;
            background-color: $white;
            text-align: center;
            margin: 10px auto 20px;
        }
    }
}
@media all and(max-width: $breakpoint-tablet){
    .icon-box2{
        grid-template: 1fr / repeat(2,300px);
        padding-bottom: 30px;
    }
}
@media all and(max-width: $breakpoint-mobile){
    .icon-box2{
        grid-template: 1fr / repeat(1,300px);
        padding: 30px 0;
        .icon-box2__element{
            padding: 20px 0;
        }
    }
}
/* ICON-BOX2 END*/

/* HOW-WORKS START */
.how-works{
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    grid-template-areas:
            "title-left  title-left  title-right"
             "posts posts tabs"
            "button button .";
   h2{
       font-size: 2.5em;
       font-weight: bold;
       font-family: 'Montserrat', sans-serif;
       color: $text_light2;
   }
    p{
        color: $text_light;
        font-size: 1em;
        line-height: 1.8em;
    }
    .how-works__title-left{
        grid-area: title-left;
    }
    .how-works__title-right{
        grid-area: title-right;
    }
    .how-works__posts{
        grid-area: posts;
        .how-works__posts_item{
            max-width: 334px;
            display: inline-block;
            &:first-child{
                margin-right: 20px;
            }
            img {
                object-fit: cover;
                width: 335px;
                height: 210px;
                margin-bottom: 30px;
            }
            h4{
                font-size: 1.4em;
                color: $text_light;
                line-height: 0.8em;
            }
            span{
                color: $main;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 20px;
                display: inline-block;
                font-size: 0.9em;
                white-space: pre-wrap;
            }
        }

    }
    .how-works__tabs{
        grid-area: tabs;
        @keyframes open {
            0% {opacity: 0; margin-left: -5px}
            100% {opacity: 1; margin-left: 0}
        }
        details{
            background-color: $white;
            padding: 0 0 20px 0;
            color: $text;
            border-radius: 30px;
            transition-duration: $transition;
            &[open] summary ~ *{
                animation: open .5s ease-in-out;
            }
            summary{
                background-color: $background-light;
                padding: 10px;
                border-radius: 50px;
                font-size: 1.2em;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                vertical-align: center;
                display: flex;
                line-height: 2.0em;
                transition-duration: $transition;
                &:focus{
                    outline: none;
                    background-color: $main;
                    color: $white;
                }
                &::-webkit-details-marker{
                    padding: 15px;
                    background-color: $white;
                    border-radius: 50%;
                    color: $main-light;
                    float: left;
                }
            }
            p{
                padding: 10px;
            }
        }

    }
    .how-works__button{
        grid-area: button;
        justify-self: center;
        button{
            @extend .button_blue;
        }
    }
}
@media all and (max-width: $breakpoint-tablet){
    .how-works{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
                "title-left  title-left"
                "posts posts"
                "title-right title-right"
                "tabs tabs"
                "button button";
    }
}
/* HOW-WORKS END */

/* GALLERY START*/
.gallery{
    display: grid;
    background-image: url('../img/backgorund-2.jpg');
    background-repeat: repeat-x;
    grid-template-columns: repeat(3,360px);
    justify-content: center;
    padding: 80px 0;
    grid-gap: 30px;
    text-align: center;
    color: $white;
    position: absolute;
    left: 0;
    width: 100%;
    h2{
        grid-area: 1/1/1/4;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    p{
        grid-area: 2/1/2/4;
        line-height: 2em;
    }
    .gallery__flip-box {
        background-color: transparent;
        perspective: 1000px;
        width: 100%;
        height: 220px;
        .gallery__flip-box-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            .gallery__flip-box-front{
                img{
                    width: 100%;
                }
            }
        }
        &:hover .gallery__flip-box-inner {
            transform: rotateY(180deg);
        }
        .gallery__flip-box-front, .gallery__flip-box-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        .gallery__flip-box-back {
            height: 200px;
            padding-top: 40px;
            background-color: $main;
            color: white;
            transform: rotateY(180deg);
        }
    }
}
@media all and(max-width: $breakpoint-tablet) {
    .gallery{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        background-repeat: repeat-y;
        p{
            grid-area: 2/1/2/3;
        }
        h2{
            grid-area: 1/1/2/3;
        }
        img{max-width: 200px}
    }
}
@media all and(max-width: $breakpoint-mobile) {
    .gallery{
        grid-template-columns: 1fr;
        p{
            grid-area: 2/1/2/2;
        }
        h2{
            grid-area: 1/1/2/2;
        }
        img{max-width: 200px}
    }
}
/* GALLERY END*/

/* OUR-TEAM START*/
.our-team{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
    grid-gap: 30px;
    padding: 60px 0;
    h2{
        grid-area: 1/1/2/6;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: $text;
        line-height: 2em;
    }
    p{
        grid-area: 2/1/3/6;
        color: $text_light;
        line-height: 2em;
    }
    img{
        max-width: 240px;
        padding-bottom: 20px;
    }
    .our-team__member{
        h4{
            font-size: 1.4em;
            letter-spacing: 1px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: $text_light;
        }
        span{
            font-size: 1.1em;
            font-family: 'Montserrat', sans-serif;
            color: $text_light;
            display: inline-block;
            padding-bottom: 30px;
        }
        i{
            color: $main_dark;
            font-size: 1.4em;
            padding-right: 10px;
        }
        .our-team__member_image{
            position: relative;
            height: 260px;
            max-width: 240px;
            transition-duration: $transition;
            &:hover img{
                transform: scale(0,0) translateY(-100px);
            }
            &:hover .our-team__member_mask{
                transform: scale(1,1) translateY(0px);
            }
            img{
                position: absolute;
                left: 50%;
                margin-left: -120px;
                top: 50%;
                margin-top: -120px;
                transition-duration: 0.5s;
            }
            .our-team__member_mask{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 50%;
                left: 50%;
                transform: scale(0.2,0.2) translateY(-100px);
                transition-duration: 0.5s;
                margin-top: -110px;
                margin-left: -110px;
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
                height: 220px;
                width: 220px;
                border-radius: 50%;
                z-index: -1;
                button{
                    background: $white;
                    position: relative;
                    color: $text_light;
                    padding: 10px 30px;
                    border-radius: 4px;
                    &:hover{
                        box-shadow: 2px 2px 20px $white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media all and(max-width: $breakpoint-tablet) {
    .our-team{
        grid-template-columns: repeat(2,1fr);
        h2{
            grid-area: 1/1/2/3;
        }
        p{
            grid-area: 2/1/3/3;
        }
    }
}
@media all and(max-width: $breakpoint-mobile) {
    .our-team{
        grid-template-columns: 1fr;
        h2{
            grid-area: 1/1/2/2;
        }
        p{
            grid-area: 2/1/3/2;
        }
    }
}
/* OUR-TEAM END*/

/* PRE-FOOTER START*/
.pre-footer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-content: center;
    height: 180px;
    &:before{
        content: '';
        background-color: $background-light;
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 180px;
    }
    h3{
        grid-area: 1/1/2/6;
        display: inline-block;
        min-width: 300px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.8em;
        color: $text;
    }
    button{
        @extend .button_blue;
        grid-area: 1/6/2/8;
        padding: 15px 40px;
    }
}
@media all and (max-width: $breakpoint-tablet){
    .pre-footer{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        text-align: center;
        h3{
            grid-area: 1/1/2/4;
        }
        button{
            grid-area: 2/1/3/4;
        }
    }
}
/* PRE-FOOTER END*/

/* FOOTER START */
footer{
    display: grid;
    grid-template: repeat(2,1fr) / repeat(4,250px);
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-content: center;
    color: #8d8d8d;
    position: absolute;
    z-index: -3;
    left:0;
    width: 100%;
    padding-top: 100px;
    background-color: #171717;
    h3{
        color: $white;
        padding-bottom: 40px;
    }
    .footer__get-in-touch{
        .footer__get-in-touch_element{
            display: grid;
            grid-template-columns: 80px 180px;
            justify-items: left;
            i{
                font-size: 2.4em;
                padding-right: 30px;
            }
           div{
               padding-bottom: 40px;
               span{
                   display: block;
                   text-align: left;
               }
           }

        }
        .footer__get-in-touch_icons{
            color: $white;
            font-size: 1.6em;
            i{
                padding-right: 20px;
                transition-duration: $transition;
                &:hover{
                    transform: scale(1.2,1.2);
                }
            }
        }
    }
    .footer__enquiry-form{
        form{
            display: flex;
            flex-direction: column;

            input,textarea{
                margin-bottom: 20px;
                background-color: transparent;
                color: $text;
                border: none;
                border-bottom: 1px solid $text;
                transition-duration: $transition;
                padding: 15px 0;
                &:focus{
                    outline: none;
                    border-bottom: 1px solid $main;
                }
                &::placeholder {
                    color: $text;
                }
            }
            input[type=submit]{
                @extend .button_blue;
                box-shadow: none;
                max-width: 160px;
            }
        }
    }
    .footer__our-services,.footer__quick-links{
        ul{
           li{
               position: relative;
               &:before{
                   content: '\25BA \0020';
                   height: 0;
                   width: 0;
                   font-size: 0.5em;
                   padding-right: 10px;
                   color: $main;
                   line-height: 0;
               }
               padding-bottom: 20px;
               a{
                   color: $text_light;
                   transition-duration: $transition;
                   &:hover{
                       color: $main;
                   }
               }
           }
        }
    }
    .footer__copyright{
        grid-area: 2/1/3/6;
        justify-self: center;
        color: $text;
        font-size: 0.9em;
        p{
            padding: 40px 0;
            display: block;
            width: 100%;
        }
    }
}
@media all and (max-width: $breakpoint-tablet) {
    footer{
        grid-template-columns: 1fr;
        padding: 40px;
        .footer__copyright{
            grid-area: 2/1/2/2;
        }
        .footer__quick-links,.footer__our-services{
            ul{
                li{
                    display: inline;
                    padding-right: 10px;
                }
            }
        }
        .footer__copyright{
            grid-area: 6/1/7/2;
        }
    }
}
/*FOOTER END*/