//colors
$border: #e1e1e1;
$main: #1a9bdc;
$background-light: #e2e2e2;
$main-dark: #0087be;
$main-light: #1b7eb0;
$white: white;
$text_light: #6c6c6c;
$text_light2: #494949;
$text:#555;
$text-dark:#222;

//animations
$transition: 300ms;